<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive center" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
    <p>
      {{selectedRecipe?.description}}
    </p>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onAddToShoppingList()">To Shopping List</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 center">
    <h3>Ingridients</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of selectedRecipe?.ingridients">
        {{ item.name }}, ({{ item.amount }})
      </li>
    </ul>
  </div>
  </div>
